.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first {
  align-items: flex-end;
  justify-content: end;
}
.countries--second {
  align-items: flex-end;
  justify-content: center;
}

.countries--third {
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
}
.countries--third .country--brazil {
  align-self: flex-end;
}


.countries--fourth {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.countries--fourth .country--ethiopia {
  align-self: center;
}

.countries--fourth .country--laos {
  align-self: center;
}

.countries--fifth {
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
}
.countries--fifth .country--uganda {
  align-self: center;
}
.countries--fifth .country--laos {
  order: 2;
}
.countries--fifth .country--Uganda {
  order: 1;
}