/* Write your media queries and flexbox CSS below */

@media screen and (min-width: 480px) {
    .site-header__nav {
      display: flex;
      flex-direction: row;
    }
  }
  
  @media screen and (min-width: 700px) {
    .site-wrapper {
      display: flex;
      flex-direction: row;
    }
  }
  
  @media screen and (min-width: 992px) {
    .site-header__checkout {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  